/* Global Layout Set-up */
* {
  box-sizing: border-box; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 24px; }

p, span {
  font-size: 20px; }

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0; }
  body h1,
  body h2,
  body h3,
  body h4 {
    font-family: "Alegreya", serif;
    font-weight: bold; }
  body p,
  body a,
  body span {
    font-family: "Lora", serif; }

/* Link Styles */
a {
  text-decoration: none; }

a:hover {
  color: #FFC107; }

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: left;
  background: #fff;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  transition: all .5s; }
  @media (min-width: 724px) {
    .card {
      width: 500px;
      height: 1400px; } }
  @media (min-width: 1024px) {
    .card {
      width: 500px;
      height: 800px; } }

.experience-card a {
  color: black; }

.experience-card a:hover {
  color: #ffc107; }

header {
  text-align: center;
  background: #009688;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  line-height: 1.5; }
  header .location {
    color: white; }
  header .image {
    margin-top: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 6px solid #B2DFDB;
    transition: all .5s;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75); }

.experience-layout {
  background-image: url(../images/sparc.jpg);
  color: #ff9904;
  justify-content: center;
  align-items: flex-start;
  display: none; }

.experience-header {
  padding: 15px;
  border: 1px solid orange;
  border-radius: 15px;
  background: white; }

.portfolio-header {
  display: none; }

header .image:hover {
  transform: scale(1.5) rotate(10deg);
  webkit-transform: rotate(10deg);
  moz-transform: rotate(10deg);
  ms-transform: rotate(10deg);
  o-transform: rotate(10deg); }

.main-nav {
  width: 100%;
  background: rgba(255, 193, 7, 0.9);
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  z-index: 3;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75); }

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0; }

.name {
  color: white; }

.nav .name {
  display: block;
  margin-right: auto;
  color: white; }

.nav li {
  padding: 5px 10px 10px 10px; }

.nav a {
  transition: all .5s;
  color: white; }

.main-nav a:hover {
  color: #212121; }

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 0px; }
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    footer ul li {
      display: flex;
      justify-content: center; }
    footer ul a.social {
      display: inline-block;
      margin-left: 5px;
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
      opacity: .4;
      transition: all .5s; }
    footer ul a.linkedin {
      background-image: url(../images/linkedin.svg); }
    footer ul a.github {
      background-image: url(../images/github.svg); }
  footer .copyright {
    top: -8px;
    font-size: .75em; }

a.social:hover {
  opacity: 1; }

.flex {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #B2DFDB; }
  @media (min-width: 724px) {
    .flex {
      flex-direction: row; } }

.flex p {
  line-height: 1.6em; }

ul.skills {
  padding: 0;
  text-align: center; }

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #009688;
  color: white;
  padding: 5px 10px;
  margin: 2px; }

.skills li:nth-child(odd) {
  background: #FFC107; }

#experience {
  color: white; }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: #B2DFDB;
  padding-top: 80px; }
  @media (min-width: 724px) {
    main {
      flex-direction: row; } }
  main .experience-card {
    text-align: left;
    background: #fff;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    width: 95%;
    margin: 10px;
    padding: 15px; }
    @media (min-width: 724px) {
      main .experience-card {
        width: 45%;
        margin: 30px;
        padding: 20px 40px 40px; } }

.experience-card:hover {
  box-shadow: 2px 7px 5px 0px #757575; }

.experience-card a:hover {
  color: rgba(255, 193, 7, 0.9); }

.portfolio-gallery {
  display: flex;
  padding-left: 0;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background: #B2DFDB;
  padding-top: 80px;
  flex-direction: column; }
  @media (min-width: 724px) {
    .portfolio-gallery {
      flex-direction: row;
      justify-content: center; } }
  .portfolio-gallery .container {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25em .5em;
    flex-direction: column;
    border-radius: 45px;
    background: white;
    margin: 15px;
    padding: 30px; }
    @media (min-width: 724px) {
      .portfolio-gallery .container {
        width: 371.25px;
        height: 652px; } }
    @media (min-width: 1024px) {
      .portfolio-gallery .container {
        width: 641.25px;
        height: 496px; } }
    @media (min-width: 724px) {
      .portfolio-gallery .container h3 {
        margin-bottom: 2em; } }
    .portfolio-gallery .container div {
      background-size: contain;
      height: 100%;
      background-position: center;
      width: 100%;
      max-height: 300px;
      background-repeat: no-repeat; }
      @media (min-width: 724px) {
        .portfolio-gallery .container div {
          max-height: 250px; } }
    .portfolio-gallery .container div a {
      display: block;
      height: 100%;
      width: 100%;
      cursor: pointer; }
    .portfolio-gallery .container .WebDashboard {
      background-image: url("../images/WebDashboard.png"); }
    .portfolio-gallery .container .Online-Form {
      background-image: url("../images/onlineForm.png"); }
    .portfolio-gallery .container .Accessibility {
      background-image: url("../images/accessibile.png"); }
    .portfolio-gallery .container .VideoPlayer {
      background-image: url("../images/videoplayer.png"); }
    .portfolio-gallery .container .Photo-Gallery {
      background-image: url("../images/Photo-Gallery.png"); }
    .portfolio-gallery .container .SVG-Project {
      background-image: url("../images/SVGs.png"); }
    .portfolio-gallery .container .ckendallart {
      background-image: url("../images/ckendallart.png"); }

.portfolio-gallery li:hover {
  flex-grow: 1.5; }

.container:hover {
  -webkit-box-shadow: 2px 7px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 7px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 7px 5px 0px #757575; }

.container a {
  color: #212121; }

.container a:hover {
  color: #ffc107; }

/*# sourceMappingURL=styles.css.map */
