/* Global Layout Set-up */
* {
  box-sizing: border-box; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 24px; }

p, span {
  font-size: 20px; }

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0; }
  body h1,
  body h2,
  body h3,
  body h4 {
    font-family: "Alegreya", serif;
    font-weight: bold; }
  body p,
  body a,
  body span {
    font-family: "Lora", serif; }

/* Link Styles */
a {
  text-decoration: none;
  color: #999; }

a:hover {
  color: orange; }

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s; }
  @media (min-width: 724px) {
    .card {
      width: 500px;
      height: 1400px; } }
  @media (min-width: 1024px) {
    .card {
      width: 500px;
      height: 800px; } }

.card:hover {
  border-color: #ff9904; }

.card a:hover {
  color: orange; }

header {
  text-align: center;
  background: url("../images/charleston.jpg") no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  line-height: 1.5; }
  header .location {
    color: white; }
  header .image {
    margin-top: 50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid white;
    transition: all .5s; }

.experience-layout {
  background-image: url(../images/sparc.jpg);
  color: #ff9904;
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.experience-header {
  padding: 15px;
  border: 1px solid orange;
  border-radius: 15px;
  background: white; }

header .image:hover {
  transform: scale(1.5) rotate(10deg);
  webkit-transform: rotate(10deg);
  moz-transform: rotate(10deg);
  ms-transform: rotate(10deg);
  o-transform: rotate(10deg); }

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  z-index: 3; }

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0; }

.name {
  color: white; }

.nav .name {
  display: block;
  margin-right: auto;
  color: white; }

.nav li {
  padding: 5px 10px 10px 10px; }

.nav a {
  transition: all .5s; }

.nav a:hover {
  color: orange; }

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 0px; }
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    footer ul li {
      display: flex;
      justify-content: center; }
    footer ul a.social {
      display: inline-block;
      margin-left: 5px;
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
      opacity: .4;
      transition: all .5s; }
    footer ul a.linkedin {
      background-image: url(../images/linkedin.svg); }
    footer ul a.github {
      background-image: url(../images/github.svg); }
  footer .copyright {
    top: -8px;
    font-size: .75em; }

a.social:hover {
  opacity: 1; }

.flex {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 724px) {
    .flex {
      flex-direction: row; } }

.flex p {
  line-height: 1.6em; }

ul.skills {
  padding: 0;
  text-align: center; }

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px; }

.skills li:nth-child(odd) {
  background: #0399ff; }

#experience {
  color: white; }

.portfolio-gallery {
  display: flex;
  padding-left: 0;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 724px) {
    .portfolio-gallery {
      flex-direction: row;
      justify-content: center; } }
  .portfolio-gallery .container {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25em .5em;
    flex-direction: column;
    border-radius: 45px; }
    .portfolio-gallery .container h3 {
      margin: 0; }
    .portfolio-gallery .container div {
      background-size: contain;
      height: 75%;
      background-position: center;
      width: 70%;
      background-repeat: no-repeat; }
    .portfolio-gallery .container .WebDashboard {
      background-image: url("../images/WebDashboard.png"); }
    .portfolio-gallery .container .Online-Form {
      background-image: url("../images/online-Form.png"); }
    .portfolio-gallery .container .Accessibility {
      background-image: url("../images/accessibile.png"); }
    .portfolio-gallery .container .VideoPlayer {
      background-image: url("../images/videoplayer.png"); }
    .portfolio-gallery .container .Photo-Gallery {
      background-image: url("../images/Photo-Gallery.png"); }
    .portfolio-gallery .container .SVG-Project {
      background-image: url("../images/SVGs.png"); }
    .portfolio-gallery .container .ckendallart {
      background-image: url("../images/ckendallart.png"); }

.portfolio-gallery li:hover {
  flex-grow: 1.5; }

/*# sourceMappingURL=styles.css.map */
