<!-- Could definitely use ng repeat here -->
<ul class="experience-container">
  <!-- <experience-item ng-repeat="experience in experienceArray" experience-array="experience"></experience-item> -->
  <li class="experience-card">
    <div class="experience__header">
      <h3 class="experience__title">Charleston Digital Hub of Booz Allen Hamilton</h4>
      <h4 class="experience__position">UI Engineer<span>Since March 2017</span></h3>
      <h5 class="experience__location">Charleston, SC</h5>
    </div>
    <div class="experience__content">
      <div class="experience__image">
        <img src="images/booz.png" alt="Booz Logo">
      </div>
    </div>
  </li>
  <li class="experience-card">
    <div class="experience__header">
      <h3 class="experience__title">Charleston Digital Hub of Booz Allen Hamilton</h4>
      <h4 class="experience__position">Production Operations Analyst<span>June 2015 - March 2017</span></h3>
      <h5 class="experience__location">Charleston, SC</h5>
    </div>
    <div class="experience__content">
      <div class="experience__image">
        <img src="images/booz.png" alt="Booz Logo">
      </div>
    </div>
  </li>
  <li class="experience-card">
    <div class="experience__header">
      <h3 class="experience__title">Benefitfocus</h4>
      <h4 class="experience__position">Application Analyst<span>June 2014 - May 2015</span></h3>
      <h5 class="experience__location">Charleston, SC</h5>
    </div>
    <div class="experience__content">
      <div class="experience__image">
        <img src="images/bflogo.png" alt="BF Logo">
      </div>
    </div>
  </li>
</ul>
