<!-- Could definitely use ng repeat here -->
<div class="experience-container">
    <div class="experience-card">
        <div class="experience-header">
          <h2><a href='http://www.sparcedge.com/'>Charleston Digital Hub of Booz Allen Hamilton</a></h2>
          <h4 class="experience-title">UI/UX Engineer</h4>
          <h4>April 2017 - Present</h4>
      </div>
      <ul class="experience-summary">
          <li>Design new features using best practice wire-framing methods within an Agile Development environment</li>
          <li>Utlize HTML, CSS, JavaScript, LESS, Version Control</li>
          <li>Usability research, testing, and user-centered design</li>
      </ul>
    </div>
    <div class="experience-card">
        <div class="experience-header">
          <h2><a href='https://www.benefitfocus.com/'>Benefitfocus & SPARC Hub of Booz Allen</a></h2>
          <h4 class="experience-title">Application Consutlant</h4>
          <h4>June 2014 - June 2015 (Benefitfocus)</h4>
          <h4>June 2015 - February 2017 (SPARC)</h4>
        </div>
        <ul class="experience-summary">
            <li>Triaged techincal application issues through collaboration with multiple teams</li>
            <li>Daily engaged with User Experience on Tier 1, Tier 2, and Tier 3 level</li>
            <li>Participated in Release Specific testing in light of given technical requirements</li>
        </ul>
    </div>
</div>
