<div class="homepage-container">
    
  <div class="header-main">
    <div ng-mouseover="mouseOver('scale(1.5) rotate(10deg)')" ng-mouseleave="mouseLeave()" class="image-cropper">
      <a href="MaxwellKendallResumeTraditional.pdf"><img src="images/profile_picture.jpg" alt="Max Dancin'" class="image rotate"></a>
    </div>
    <div class="resume">
        <a href="MaxwellKendallResumeTraditional.pdf" ng-mouseover="mouseOver('scale(1.5) rotate(-10deg)')" ng-mouseleave="mouseLeave()"><span>Resume</span></a>
    </div>
  </div>
  <div class="flex">
    <div class="card">
      <h2 class="ballin'">My Story</h2>
        <h4>Motivated</h4>
          <p>I have been an english student, a cook, a janitor, a construction worker, and an application analyst. After lots of study and hard work, I am very excited to be in the world of web development!</p>
        <h4>Curious</h4>
          <p>Technology in general is known for rapid change, but the Front End in particular has won the reputation for most persistent change. This appeals to me not only as a developer, but as a thinker and a creative. I consider myself content with this field as my long-term career-path for this very reason.</p>
        <h4>Self Taught</h4>
          <p>I have learned everything I know using the best resources in online documentation, Stack-Overflow, Slack-based Web Forums, and tutorials available online. Each project on my portfolio is a sample Front End I developed from Mock Ups. I am currently working on an online store for my wife!</p>
      </div>
    <div class="card">
      <h2>Goals</h2>
        <div class="goals-header">
          <h4>Achieved</h4>
            <span><img src="images/checkbox.svg" alt="" /></span>
        </div>
        <ul class="skills">
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>Git</li>
          <li>Sass</li>
          <li>jQuery</li>
        </ul>
    <div class="goals-header">
        <h4>Planned</h4><span><img src="images/emptycheckbox.svg" alt="" /></span>
    </div>
        <ul class="planned">
              <li><a href="https://angular.io/">Angular</a></li>
              <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
              <li><a href="https://facebook.github.io/react/">React</a></li>
              <li><a href="https://material.io/">Material Design</a></li>
              <li>Adobe Suite</li>
              <li>Graphic Design</li>
              <li>SVG Development and Animation</li>
              <li>Wire Framing</li>
      </ul>
  </div>
  </div>
</div>
