<div class="homepage-container">

  <div class="header-main">
    <div ng-mouseover="mouseOver('scale(1.5) rotate(10deg)')" ng-mouseleave="mouseLeave()" class="image-cropper">
      <a href="" onClick="window.open('Maxwell_Kendall_Resume.pdf')"><img src="images/profile_picture.jpg" alt="Max Dancin'" class="image rotate"></a>
    </div>
    <div class="resume-container">
        <div class="resume">
            <a href="" onClick="window.open('Maxwell_Kendall_Resume.pdf')" ng-mouseover="mouseOver('scale(1.5) rotate(-10deg)')" ng-mouseleave="mouseLeave()"><span>Resume</span></span></a>
        </div>
        <a class="download" href="Maxwell_Kendall_Resume.pdf" download ng-mouseover="mouseOver('scale(1.5) rotate(-10deg)')" ng-mouseleave="mouseLeave()"><i class="fa fa-download" aria-hidden="true"></i>
        </a>
    </div>
  </div>
  <div class="flex">
    <div class="card">
      <h2 class="ballin'">My Story</h2>
        <h4>Motivated</h4>
          <p>I am a self taught Front End Engineer with over 3 years experience in the Software Industry. I am very thankful for the opportunites I have had to learn what you see here on this website!</p>
        <h4>Curious</h4>
          <p>What I love the most about development is the breadth of knowledge looming over everything we do. There are a hundred ways to get something to work, but I'm committed to learning and perfecting the best ways.</p>
        <h4>Competent</h4>
          <p>This website is built completely from scratch using Angular. The goal of this website is to display what I have been able to learn thus far in my career as a Software Engineer.</p>
      </div>
    <div class="card">
      <h2>Goals</h2>
        <div class="goals-header">
          <h4>Achieved</h4>
            <span><img src="images/checkbox.svg" alt="" /></span>
        </div>
        <ul class="skills">
          <li>JavaScript</li>
          <li>ES6</li>
          <li>React</li>
          <li>Redux</li>
          <li>HTML</li>
          <li>SASS/LESS</li>
          <li>Git</li>
        </ul>
    <div class="goals-header">
        <h4>Planned</h4><span><img src="images/emptycheckbox.svg" alt="" /></span>
    </div>
        <ul class="planned">
          <li>Ruby on Rails</li>
          <li>C, C#, C++, Java</li>
          <li>Python</li>
          <li>Enterprise Application Architecture</li>
          <li>Algorithms</li>
          <li><a target=_blank href="http://ethdocs.org/en/latest/introduction/web3.html">Web 3.0</a></li>
          <li><a target=_blank href="https://www.amazon.com/Decentralized-Applications-Harnessing-Blockchain-Technology/dp/1491924543">DAPPS</a></li>
      </ul>
  </div>
  </div>
</div>
