#experience {
  color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: #B2DFDB;
    padding-top: 80px;
    @include media-query($tablet){
        flex-direction: row;
    }
    .experience-card {
      margin: 30px;
      padding: 20px 40px 40px;
      text-align: left;
      background: #fff;
      border-radius: 35px;
      transition: all .5s;
      width: 45%;
      @include media-query($tablet){
        //   width: 500px;
        //   height: 1400px;
        }
        @include media-query($desktop){
            // width: 500px;
            // height: 800px;
          }
    }
}

.experience-card:hover {
    box-shadow: 2px 7px 5px 0px rgba(117, 117, 117, 1);
}
.experience-card a:hover {
    color: rgba(255, 193, 7, 0.9);
}
