.portfolio-gallery {
    display: flex;
    padding-left: 0;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    // margin-top: 1em;
    align-items: center;
    background: #B2DFDB;
    padding-top: 80px;
    flex-direction: column;
    @include media-query($tablet){
        flex-direction: row;
        justify-content: center;
    }
        .container {
            width: 95%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0.25em .5em;
            flex-direction: column;
            border-radius: 45px;
            background: white;
            margin: 15px;
            padding: 30px;
            @include media-query($tablet){
                width: 371.25px;
                height: 652px;
            }
            @include media-query($desktop){
                width: 641.25px;
                height: 496px;
            }
            h3 {
                @include media-query($tablet){
                    margin-bottom: 2em;
                }
            }
            div {
                background-size: contain;
                height: 100%;
                background-position: center;
                width: 100%;
                max-height: 300px;
                background-repeat: no-repeat;
                @include media-query($tablet){
                    max-height: 250px;
                }

            }
            div a {
                display: block;
                height: 100%;
                width: 100%;
                cursor: pointer;
            }
            .WebDashboard {
                background-image: url('../images/WebDashboard.png');
            }
            .Online-Form {
                background-image: url('../images/onlineForm.png');
            }
            .Accessibility {
                background-image: url('../images/accessibile.png');
            }
            .VideoPlayer {
                background-image: url('../images/videoplayer.png');
            }
            .Photo-Gallery {
                background-image: url('../images/Photo-Gallery.png');
            }
            .SVG-Project {
                background-image: url('../images/SVGs.png');
            }
            .ckendallart {
                background-image: url('../images/ckendallart.png');
            }
        }
    }
.portfolio-gallery li:hover {
    flex-grow: 1.5;
}

.container:hover {
    -webkit-box-shadow: 2px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 7px 5px 0px rgba(117, 117, 117, 1);
}

.container a {
    color: #212121;
}
