// nav

.main-nav {
  width: 100%;
  background: rgba(0, 121, 107, 0.9);
  min-height: 30px;
  padding: 10px;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 3;
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;
  @include media-query($tablet){
      flex-direction: row;
  }

}

.nav .name {
    display: block;
    color: white;
    margin-bottom: auto;
    font-size: larger;
    @include media-query($tablet){
        margin-right: auto;
}

}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: color .5s;
  color: white;
}
.main-nav a:hover {
    color: #FFC107;
}
