header {
  text-align: center;
  background: url('../images/charleston.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  line-height: 1.5;
  .location {
      color: white;
  }
  .image {
  margin-top: 50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
    }
}

.experience-layout {
    background-image: url(../images/sparc.jpg);
    color: #ff9904;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.experience-header {
    padding: 15px;
    border: 1px solid orange;
    border-radius: 15px;
    background: white;
}

//Psuedo Elements

header .image:hover {
  transform: scale(1.5) rotate(10deg);
  webkit-transform: rotate(10deg);
  moz-transform: rotate(10deg);
  ms-transform: rotate(10deg);
  o-transform: rotate(10deg);

}
