/* Global Layout Set-up */

* {
  box-sizing: border-box;
}

@include font-size($font-size);

body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #222;
  background: #f7f5f0;
  // position: absolute;
  // @include media-query($tablet){
        // position: relative;
  // }
  h1,
  h2,
  h3,
  h4 {
      font-family: $font-1;
      font-weight: bold;
  }
  p,
  a,
  li,
  span {
      font-family: $font-2;
  }
}

/* Link Styles */

a {
  text-decoration: none;
}

a:hover {
  color: #FFC107;
}

// Cards (on both index.html and experience.html)

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  text-align: left;
  background: #fff;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
  border-radius: 6px;
  transition: all .5s;
  @include media-query($tablet){
      width: 500px;
      height: 1450px;
    }
    @include media-query($desktop){
        width: 500px;
        height: 920px;
      }
}

.experience-card a {
    color: black;
}

.experience-card a:hover {
    color: rgba(255, 193, 7, 1);
}

.flex:nth-child(2){
    @include media-query($tablet){
    border: 1px solid red;
}
    @include media-query($desktop){
        width: 500px;
        height: 920px;
    }
}
